.topbar {
    display: flex;
    height: 80px;
    width: 100%;
    padding: 0 26px;
    justify-content: space-between;
    align-items: center;
    background: $color-primary;

    .logo_container {
        height: 100%;
        display: flex;
        align-items: center;

        .logo_image {
            height: 50px;
            width: 50px;
        }

        .logo_image path {
            fill: $color-white  !important;
        }

        .logo_title {
            color: $color-white;
            font-size: 20px;
            font-family: "Titillium Web", sans-serif;
            text-transform: uppercase;
            margin-left: 4px;
        }
    }

    nav {
        .main-menu_list {
            display: flex;
            list-style: none;
        }
    }

    .main-menu_list-item {
        a {
            padding: 0 24px;
            color: $color-white;
            font-size: 0.75rem;
            text-decoration: none;
            font-weight: 700;

            &:hover {
                color: $color-accent;
            }
        }

        &.active {
            a {
                color: $color-accent
            }
        }
    }

    .searchbar_container {
        height: 52px;
        padding-left: 18px;
        width: 570px;
        border-radius: 12px;
        display: flex;
        justify-content: space-between;
        background-color: $color-primary-dark;

        input {
            background-color: transparent;
            border: none;
            outline: none;
            width: 100%;
            color: $color-white;
            font-weight: 700;
            font-family: 'Rajdhani', sans-serif;

            &::placeholder {
                font-weight: 400;
                color: $color-icon-light;
                opacity: 0.6;
                font-size: 0.9rem;
            }
        }

        .searchbar_icon-container {
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.25rem;
            color: $color-icon-light;
            opacity: 0.6;
        }
    }

    .experience-indicator_container {
        width: 110px;
        display: flex;
        flex-direction: column;

        .experience-indicator_info {
            width: 100%;
            font-weight: 800;
            display: flex;
            justify-content: space-between;
            color: $color-white;
            font-size: 0.75rem;
            text-transform: uppercase;
        }

        .experience-indicator_bar-container {
            height: 4px;
        }

        progress {
            width: 100%;
            height: 4px;
            background-color: $color-primary;

            &::-webkit-progress-bar,
            &::-webkit-progress-value {
                border-radius: 7px;
                height: 4px;
            }
        }

        progress::-webkit-progress-bar {
            background-color: $color-primary-dark;
        }

        progress::-webkit-progress-value {
            background-color: $color-accent;
        }
    }
}